@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-inter: var(--font-inter);
  --font-montserrat: var(--font-montserrat);
  --font-playfair: var(--font-playfair);
  --font-cursive: var(--font-cursive);
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}
